/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* Reset End */

.radley-regular {
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .radley-regular-italic {
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: italic;
  }  

* {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    z-index: 1;
}


p {
    white-space: pre-line;
}

nav {
    display: flex;
    align-items: center;
    padding: 40px 180px 40px 180px;
    gap: 19px;
    font-family: "Radley";
    /* background-color: rgba(39, 39, 39, 50%); */
    background: linear-gradient(180deg, rgba(0,0,0,50%) 0%, rgba(255,255,255,1%) 74%);
    width: 100vw;
    position: fixed;
    z-index: 5;
}

nav > .logo {
    margin-right: auto;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}

.nav-btn {
    border: none;
    width: 120px;
    border-radius: 8px;
    cursor: pointer;
}

.img-container.home-page {
    width: 100vw;
    height: 600px;
    position: absolute;
    top: 0px;
    z-index: -1;
    background: url(https://media.istockphoto.com/id/1438530555/ja/%E3%82%B9%E3%83%88%E3%83%83%E3%82%AF%E3%83%95%E3%82%A9%E3%83%88/%E7%A9%BA%E3%81%AE%E8%B1%9A%E8%82%89-%E4%B8%AD%E5%B0%8F%E4%BC%81%E6%A5%AD%E3%81%AE%E3%82%B3%E3%83%B3%E3%82%BB%E3%83%97%E3%83%88.jpg?s=2048x2048&w=is&k=20&c=c7LA8M3rGhh1vop9mO7DmdEoCNSr6TsPUB8W02XxnTc=);
    filter: brightness(50%);
    background-position: center; 
}

.img-container.menu-page {
    width: 100vw;
    height: 400px;
    position: absolute;
    top: 0px;
    z-index: -1;
    background: url(https://media.istockphoto.com/id/1438530555/ja/%E3%82%B9%E3%83%88%E3%83%83%E3%82%AF%E3%83%95%E3%82%A9%E3%83%88/%E7%A9%BA%E3%81%AE%E8%B1%9A%E8%82%89-%E4%B8%AD%E5%B0%8F%E4%BC%81%E6%A5%AD%E3%81%AE%E3%82%B3%E3%83%B3%E3%82%BB%E3%83%97%E3%83%88.jpg?s=2048x2048&w=is&k=20&c=c7LA8M3rGhh1vop9mO7DmdEoCNSr6TsPUB8W02XxnTc=);
    filter: brightness(30%);
    background-position: center; 

}

.img-container.about-page {
    width: 100vw;
    height: 400px;
    position: absolute;
    top: 0px;
    z-index: -1;
    background: url(https://media.istockphoto.com/id/1438530555/ja/%E3%82%B9%E3%83%88%E3%83%83%E3%82%AF%E3%83%95%E3%82%A9%E3%83%88/%E7%A9%BA%E3%81%AE%E8%B1%9A%E8%82%89-%E4%B8%AD%E5%B0%8F%E4%BC%81%E6%A5%AD%E3%81%AE%E3%82%B3%E3%83%B3%E3%82%BB%E3%83%97%E3%83%88.jpg?s=2048x2048&w=is&k=20&c=c7LA8M3rGhh1vop9mO7DmdEoCNSr6TsPUB8W02XxnTc=);
    filter: brightness(30%);
    background-position: center; 
}

/* img {
    position: relative;
    bottom: 200px;
    filter: brightness(50%);
} */

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    margin-top: 330px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    /* margin-top: 200px; */
    font-size: 3.3rem;
}

h1,
.catch-copy {
    color: #fff;
    font-family: "Radley";
}

.catch-copy {
    font-size: 1.8rem;
}

.about-container {
    margin: 190px 0 80px 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container > p {
    color: #4d4d4d;
    text-align: center;
    margin: 0 90px 0 90px;
    line-height: 2em;
    font-size: 1.1rem;
}

h3 {
    color: #4d4d4d;
    font-size: 40px;
    font-family: "Radley";
}

hr { 
    display: block;
    width: 80px;
    height: 3px;
    background-color: #f55f15;
    border: none;
    margin: 10px 0 30px 0;
}

.hours-grid {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 40px 40px 40px;
    border: 1px solid #DEDEDE;
    color: #4d4d4d;
    border-radius: 8px;
    padding: 20px;
    padding-bottom: 5px;
    justify-items: center;
    margin: 15px 0 100px 0;
}

.friday {
    grid-column: 1 / 3;
}

.footer {
    height: 20px;
    width: 100vw;
    gap: 15px;
    background-color: #4d4d4d;
    color: #DEDEDE;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;
}

.footer > div:first-child {
    margin-right: auto;
}